:root {
  --light: rgb(244, 244, 244);
  --black: rgb(0, 0, 0);
  --accent: #088081;
  --green: rgb(8, 200, 94);
  --red: rgb(220, 53, 69);

  --serif: 'Cormorant Garamond', serif;
  --sans: 'Barlow', sans-serif;

  --swiper-navigation-size: 1.5rem;
}

body {
  font-family: var(--sans);
}

.navbar-brand,
.navbar-nav a,
.nav a,
.badge, 
.category-tab.nav-link
/* + footer elements */ {
  font-family: var(--serif);
}

.max-wide {
  max-width: 1600px;
}

a {
  color: var(--accent);
}

a:hover,
a:focus {
  color: var(--black);
}

/*====================
*
* HOME PAGE 
* 
======================*/
.navbar-brand {
  letter-spacing: 10px;
}

.navbar-nav a,
.nav a,
.badge {
  letter-spacing: 3px;
}

body:not(.about).navbar ul li a {
  font-size: 1.25rem;
}

#search {
  border: 2px solid rgba(255, 255, 255, 0.25);
}

#search input {
  background: var(--black);
  color: white;
  border: none;
  box-shadow: none;
}

#search.focus {
  border: 2px solid white;
  outline: none;
}

#search .btn {
  color: white;
}

#search .btn:hover,
#search .btn:focus {
  color: var(--accent);
}

#search input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

section .heading-title {
  color: var(--accent);
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: var(--black);
  font-family: var(--serif);
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* stock bar */
.market .open,
.marketplaces .open {
  color: var(--green);
}

.market span:last-of-type,
.marketplaces span:last-of-type {
  color: rgba(255, 255, 255, 0.5);
}

.swiper-slide {
  min-width: 200px !important;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--black);
}

.stock-wrapper .high,
.crypto-wrapper .high,
.fa-solid.fa-arrow-trend-up {
  color: var(--green);
}

.stock-wrapper .low,
.crypto-wrapper .low,
.fa-solid.fa-arrow-trend-down {
  color: var(--red);
}

.fa-solid.fa-arrow-trend-up,
.fa-solid.fa-arrow-trend-down {
  font-size: 1.25rem;
}

/* crypto */
.crypto-wrapper {
  margin-bottom: 3.5rem;
}

.crypto-item {
  max-width: 200px;
}

.crypto-wrapper .swiper-slide[aria-label='1 / 20'] .crypto-item {
  padding-left: 0 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -1rem;
}

.swiper-pagination-bullet-active {
  background: black;
}

/* Top News section */
.article-title a {
  text-decoration: none;
  color: var(--black);
}

.top-section article:not(.featured) .article-content {
  min-height: 240px;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.featured.thumbnail {
  height: 400px;
  width: 100%;
}

.thumbnail img,
.featured.thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

article .badge {
  width: fit-content;
  background: var(--black);
  font-size: 0.89rem;
  font-weight: normal;
  letter-spacing: 5px;
}

.top-section article.featured .badge {
  background: var(--accent) !important;
}

.top-section .article-abstract p {
  font-size: 1.25rem;
}

.by-line,
.last-updated {
  font-size: 0.9rem;
}

.by-line span {
  font-weight: bold;
}

/* Financial news */
.category-news .nav-pills .nav-link {
  background: var(--light);
  color: var(--black);
  letter-spacing: 2px;
  padding-top: 0.75rem;
}

.category-news .nav-pills .nav-link.active {
  background: var(--accent);
  color: white;
}

.category-news {
  min-height: 500px;
}

.article-wrapper {
  border-bottom: 1px solid var(--light);
}

.category-news .thumbnail {
  max-width: 30%;
  height: 250px;
}

.category-news .thumbnail-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  transition: filter 0.5s ease-in-out;
}

.category-news article:hover .thumbnail-bg {
  filter: grayscale(0);
}

.category-news .badge {
  padding: 1rem 1rem 0.75rem;
}

/* aside */
aside {
  border-left: 2px solid var(--light);
}

.aside-container {
  overflow: hidden;
}

.aside-title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--black);
  font-family: var(--serif);
  font-style: italic;
  letter-spacing: 2px;
  text-transform: uppercase;
}

aside article {
  border-bottom: 2px solid var(--light);
}

#aside-top-news .article-title h3 {
  font-size: 1.25rem;
}

.copyright {
  background: var(--black);
}

/*====================
*
* ABOUT PAGE 
* 
======================*/
.nav a {
  color: white;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: border-bottom 0.5s ease-in-out;
  padding: 0;
  margin: 0.5rem 1rem;
}

.nav a:hover {
  color: white;
  border-color: var(--accent);
}

.nav:focus {
  color: var(--accent);
}

.masthead {
  background-image: url('../img/DR_horizontal_financial_backgound_81669026-1841-4763-ad76-58c5271a8e11_v2_resized.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 60vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.masthead h1 {
  font-size: 4rem;
  font-family: var(--serif);
  letter-spacing: 10px;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--black), rgba(0, 0, 0, 0.2) 30%);
}

.masthead-container {
  max-width: 1600px;
}

.about-section-content,
.contact-section-content {
  max-width: 768px;
}

.about-section-content .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.about-section-content .grid-item {
  width: 100%;
  height: 100%;
}

.section-title h3 {
  display: flex;
  width: fit-content;
  color: var(--accent);
  font-family: var(--serif);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card {
  max-width: 350px;
  border: 2px solid var(--light);
}

.icon-wrapper i {
  color: var(--accent);
}

/*====================
*
* MEDIA QUERIES
* 
======================*/
@media (min-width: 576px) {
  .top-section article .badge {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 575.999px) {
  .today-weather {
    width: 100%;
    justify-content: space-between;
  }

  #search {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .top-section article:not(.featured) .badge {
    left: -1.5rem;
  }
}

@media (max-width: 767.9999px) {
  .masthead {
    min-height: 40vh;
  }
  .masthead h1 {
    font-size: calc(2.5rem + 3.3vw);
  }

  .category-news .thumbnail {
    max-width: 100%;
  }
}

@media (max-width: 575.9999px) {
  .category-news .thumbnail {
    height: 100px;
  }
}
