:root {
  --light: rgb(221, 221, 221);
  --black: rgb(0, 0, 0);
  --accent: rgb(3, 41, 210);
  --green: green;
  --red: red;

  --serif: 'Amiri', serif;
  --sans: 'Open Sans', sans-serif;

  --swiper-navigation-size: 1.5rem;
}

body {
  font-family: var(--sans);
}

.navbar-brand,
.navbar-nav a,
.badge, 
.category-tab.nav-link
/* + footer elements */ {
  font-family: var(--serif);
}

/*====================
*
* HOME PAGE 
* 
======================*/

/* navbar */
.navbar-brand {
  letter-spacing: 10px;
}

.navbar-nav a,
.badge {
  letter-spacing: 3px;
}

/* stock bar */

.stock-wrapper {
  color: white;
}

.swiper-slide {
  min-width: 200px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(255, 255, 255, 0.5);
}

.stock-wrapper .high,
.fa-solid.fa-arrow-trend-up {
  color: var(--green);
}

.stock-wrapper .low,
.fa-solid.fa-arrow-trend-down {
  color: var(--red);
}

/* Top News section */
.article-title a {
  text-decoration: none;
  color: var(--black);
}
.top-section article:not(.featured) .article-content {
  min-height: 240px;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.featured.thumbnail {
  height: 400px;
  width: 100%;
}

.thumbnail img,
.featured.thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

article .badge {
  width: fit-content;
  letter-spacing: 5px;
  font-size: 0.89rem;
  font-weight: normal;
}

.top-section article:not(.featured) .badge {
  left: -1.5rem;
  background: var(--accent) !important;
}

/* Financial news */
.category-news .nav-pills .nav-link {
  background: var(--light);
  color: var(--black);
  letter-spacing: 2px;
  padding-top: 0.75rem;
}

.category-news .nav-pills .nav-link.active {
  background: var(--accent);
  color: white;
}

.category-news {
  min-height: 500px;
}

.category-news .thumbnail {
  max-width: 30%;
}

.category-news .thumbnail-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-news .badge {
  left: -1rem;
  background: var(--black);
  padding: 0.5rem 1rem;
}

/*====================
*
* ABOUT PAGE 
* 
======================*/

/* Out team */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 25px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
  margin-top: 10px;
}

.container::after,
.row::after {
  content: '';
  clear: both;
  /* display: row; */
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: var(--black);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/*====================
*
* MEDIA QUERIES
* 
======================*/
@media (max-width: 650px) {
  /* about page */
  .column {
    width: 100%;
    display: block;
  }
}

@media (min-width: 576px) {
  .top-section article .badge {
    position: absolute;
    right: 0;
  }
}
